@tailwind base;
@tailwind components;
@tailwind utilities;

.lockImage{
    background-image: url('./assets/Images/aboutUs_banner.png');
}



.chakra-petch-bold {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .chakra-petch {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
  }



.montserrat-regular {
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sync-regular {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

